html {
    box-sizing: border-box;
    font-family: -apple-system, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.gutters-1 {
    grid-gap: 0.25rem;
}

.gutters-2 {
    grid-gap: 0.5rem;
}

.gutters-3 {
    grid-gap: 0.75rem;
}

.gutters-4 {
    grid-gap: 1rem;
}

.gutters-5 {
    grid-gap: 1.25rem;
}

.gutters-6 {
    grid-gap: 1.5rem;
}

.gutters-7 {
    grid-gap: 1.75rem;
}

.gutters-8 {
    grid-gap: 2rem;
}

.gutters-col-1 {
    grid-column-gap: 0.25rem;
}

.gutters-col-2 {
    grid-column-gap: 0.5rem;
}

.gutters-col-3 {
    grid-column-gap: 0.75rem;
}

.gutters-col-4 {
    grid-column-gap: 1rem;
}

.gutters-col-5 {
    grid-column-gap: 1.25rem;
}

.gutters-col-6 {
    grid-column-gap: 1.5rem;
}

.gutters-col-7 {
    grid-column-gap: 1.75rem;
}

.gutters-col-8 {
    grid-column-gap: 2rem;
}

.gutters-row-1 {
    grid-row-gap: 0.25rem;
}

.gutters-row-2 {
    grid-row-gap: 0.5rem;
}

.gutters-row-3 {
    grid-row-gap: 0.75rem;
}

.gutters-row-4 {
    grid-row-gap: 1rem;
}

.gutters-row-5 {
    grid-row-gap: 1.25rem;
}

.gutters-row-6 {
    grid-row-gap: 1.5rem;
}

.gutters-row-7 {
    grid-row-gap: 1.75rem;
}

.gutters-row-8 {
    grid-row-gap: 2rem;
}

.no-gutters {
    grid-gap: 0 !important;
}

.no-col-gutters {
    grid-column-gap: 0 !important;
}

.no-row-gutters {
    grid-row-gap: 0 !important;
}

.col-1 {
    grid-column: span 1;
}

.col-2 {
    grid-column: span 2;
}

.col-3 {
    grid-column: span 3;
}

.col-4 {
    grid-column: span 4;
}

.col-5 {
    grid-column: span 5;
}

.col-6 {
    grid-column: span 6;
}

.col-7 {
    grid-column: span 7;
}

.col-8 {
    grid-column: span 8;
}

.col-9 {
    grid-column: span 9;
}

.col-10 {
    grid-column: span 10;
}

.col-11 {
    grid-column: span 11;
}

.col-12 {
    grid-column: span 12;
}

@media (min-width: 576px) {
    .col-sm-1 {
        grid-column: span 1;
    }

    .col-sm-2 {
        grid-column: span 2;
    }

    .col-sm-3 {
        grid-column: span 3;
    }

    .col-sm-4 {
        grid-column: span 4;
    }

    .col-sm-5 {
        grid-column: span 5;
    }

    .col-sm-6 {
        grid-column: span 6;
    }

    .col-sm-7 {
        grid-column: span 7;
    }

    .col-sm-8 {
        grid-column: span 8;
    }

    .col-sm-9 {
        grid-column: span 9;
    }

    .col-sm-10 {
        grid-column: span 10;
    }

    .col-sm-11 {
        grid-column: span 11;
    }

    .col-sm-12 {
        grid-column: span 12;
    }
}

@media (min-width: 768px) {
    .col-md-1 {
        grid-column: span 1;
    }

    .col-md-2 {
        grid-column: span 2;
    }

    .col-md-3 {
        grid-column: span 3;
    }

    .col-md-4 {
        grid-column: span 4;
    }

    .col-md-5 {
        grid-column: span 5;
    }

    .col-md-6 {
        grid-column: span 6;
    }

    .col-md-7 {
        grid-column: span 7;
    }

    .col-md-8 {
        grid-column: span 8;
    }

    .col-md-9 {
        grid-column: span 9;
    }

    .col-md-10 {
        grid-column: span 10;
    }

    .col-md-11 {
        grid-column: span 11;
    }

    .col-md-12 {
        grid-column: span 12;
    }
}

@media (min-width: 992px) {
    .col-lg-1 {
        grid-column: span 1;
    }

    .col-lg-2 {
        grid-column: span 2;
    }

    .col-lg-3 {
        grid-column: span 3;
    }

    .col-lg-4 {
        grid-column: span 4;
    }

    .col-lg-5 {
        grid-column: span 5;
    }

    .col-lg-6 {
        grid-column: span 6;
    }

    .col-lg-7 {
        grid-column: span 7;
    }

    .col-lg-8 {
        grid-column: span 8;
    }

    .col-lg-9 {
        grid-column: span 9;
    }

    .col-lg-10 {
        grid-column: span 10;
    }

    .col-lg-11 {
        grid-column: span 11;
    }

    .col-lg-12 {
        grid-column: span 12;
    }
}

@media (min-width: 1200px) {
    .col-xl-1 {
        grid-column: span 1;
    }

    .col-xl-2 {
        grid-column: span 2;
    }

    .col-xl-3 {
        grid-column: span 3;
    }

    .col-xl-4 {
        grid-column: span 4;
    }

    .col-xl-5 {
        grid-column: span 5;
    }

    .col-xl-6 {
        grid-column: span 6;
    }

    .col-xl-7 {
        grid-column: span 7;
    }

    .col-xl-8 {
        grid-column: span 8;
    }

    .col-xl-9 {
        grid-column: span 9;
    }

    .col-xl-10 {
        grid-column: span 10;
    }

    .col-xl-11 {
        grid-column: span 11;
    }

    .col-xl-12 {
        grid-column: span 12;
    }
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.jc-end {
    justify-content: flex-end;
}

.ai-end {
    align-items: end;
}

.a-self-end {
    align-self: end;
}

.j-self-end {
    justify-self: end;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.reset {
    margin: 0 !important;
    padding: 0 !important;
}

.pl-1 {
    padding-left: 0.25rem;
}

.pl-2 {
    padding-left: 0.5rem;
}

.pl-3 {
    padding-left: 0.75rem;
}

.pl-4 {
    padding-left: 1rem;
}

.pl-5 {
    padding-left: 1.25rem;
}

.pl-6 {
    padding-left: 1.5rem;
}

.pl-7 {
    padding-left: 1.75rem;
}

.pl-8 {
    padding-left: 2rem;
}

.pl-9 {
    padding-left: 2.25rem;
}

.pl-10 {
    padding-left: 2.5rem;
}

.pr-1 {
    padding-right: 0.25rem;
}

.pr-2 {
    padding-right: 0.5rem;
}

.pr-3 {
    padding-right: 0.75rem;
}

.pr-4 {
    padding-right: 1rem;
}

.pr-5 {
    padding-right: 1.25rem;
}

.pr-6 {
    padding-right: 1.5rem;
}

.pr-7 {
    padding-right: 1.75rem;
}

.pr-8 {
    padding-right: 2rem;
}

.pr-9 {
    padding-right: 2.25rem;
}

.pr-10 {
    padding-right: 2.5rem;
}

.ml-1 {
    padding-left: 0.25rem;
}

.ml-2 {
    padding-left: 0.5rem;
}

.ml-3 {
    padding-left: 0.75rem;
}

.ml-4 {
    padding-left: 1rem;
}

.ml-5 {
    padding-left: 1.25rem;
}

.ml-6 {
    padding-left: 1.5rem;
}

.ml-7 {
    padding-left: 1.75rem;
}

.ml-8 {
    padding-left: 2rem;
}

.ml-9 {
    padding-left: 2.25rem;
}

.ml-10 {
    padding-left: 2.5rem;
}

.mr-1 {
    padding-right: 0.25rem;
}

.mr-2 {
    padding-right: 0.5rem;
}

.mr-3 {
    padding-right: 0.75rem;
}

.mr-4 {
    padding-right: 1rem;
}

.mr-5 {
    padding-right: 1.25rem;
}

.mr-6 {
    padding-right: 1.5rem;
}

.mr-7 {
    padding-right: 1.75rem;
}

.mr-8 {
    padding-right: 2rem;
}

.mr-9 {
    padding-right: 2.25rem;
}

.mr-10 {
    padding-right: 2.5rem;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.h-25 {
    height: 25%;
}

.h-50 {
    height: 50%;
}

.h-75 {
    height: 75%;
}

.h-100 {
    height: 100%;
}

.red,
.error {
    color: #D50000;
}

.blue {
    color: #0D47A1;
}

.light-blue {
    color: #2196F3;
}

.purple {
    color: #6600EE;
}

.green {
    color: #00C853;
}

.light-green,
.success {
    color: #01FF67;
}

.yellow {
    color: #FFEA00;
}

.orange {
    color: #E65100;
}

.pink {
    color: #E91E63;
}

.teal {
    color: #03DAC5;
}

.grey {
    color: #757575;
}

.red-bg,
.alert-error {
    background-color: #D50000;
}

.blue-bg {
    background-color: #0D47A1;
}

.light-blue-bg {
    background-color: #2196F3;
}

.purple-bg {
    background-color: #6600EE;
}

.green-bg {
    background-color: #00C853;
}

.light-green-bg,
.alert-success {
    background-color: #01FF67;
}

.yellow-bg {
    background-color: #FFEA00;
}

.orange-bg {
    background-color: #E65100;
}

.pink-bg {
    background-color: #E91E63;
}

.teal-bg {
    background-color: #03DAC5;
}

.grey-bg {
    background-color: #757575;
}

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 500;
}

h1,
.h1 {
    font-size: 2.5rem;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 1.75rem;
}

h4,
.h4 {
    font-size: 1.5rem;
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

/*# sourceMappingURL=framework.css.map */
